@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&display=swap');

:root {
  --body-b1-bold-font-family: 'Karla', Helvetica;
  --body-b1-bold-font-size: 16px;
  --body-b1-bold-font-style: normal;
  --body-b1-bold-font-weight: 600;
  --body-b1-bold-letter-spacing: 0px;
  --body-b1-bold-line-height: 125%;
  --body-b1-bold-underline-font-family: 'Karla', Helvetica;
  --body-b1-bold-underline-font-size: 16px;
  --body-b1-bold-underline-font-style: normal;
  --body-b1-bold-underline-font-weight: 600;
  --body-b1-bold-underline-letter-spacing: 0px;
  --body-b1-bold-underline-line-height: 125%;
  --body-b1-regular-font-family: 'Karla', Helvetica;
  --body-b1-regular-font-size: 16px;
  --body-b1-regular-font-style: normal;
  --body-b1-regular-font-weight: 400;
  --body-b1-regular-letter-spacing: 0px;
  --body-b1-regular-line-height: 139.9999976158142%;
  --boiling-200: rgba(223, 125, 112, 1);
  --boiling-400: rgba(193, 95, 82, 1);
  --boiling-500: rgba(173, 75, 62, 1);
  --boiling-700: rgba(153, 55, 42, 1);
  --boiling-900: rgba(133, 35, 22, 1);
  --calm-200: rgba(242, 234, 223, 1);
  --calm-400: rgba(222, 214, 203, 1);
  --calm-600: rgba(192, 184, 173, 1);
  --caption-regular-font-family: 'Karla', Helvetica;
  --caption-regular-font-size: 16px;
  --caption-regular-font-style: normal;
  --caption-regular-font-weight: 400;
  --caption-regular-letter-spacing: 0px;
  --caption-regular-line-height: 139.9999976158142%;
  --cooling-200: rgba(150, 173, 217, 1);
  --cooling-20025: rgba(150, 173, 217, 0.25);
  --cooling-20050: rgba(150, 173, 217, 0.5);
  --cooling-400: rgba(120, 143, 187, 1);
  --cooling-500: rgba(80, 103, 147, 1);
  --cooling-700: rgba(50, 73, 117, 1);
  --cooling-900: rgba(30, 53, 97, 1);
  --display-d1-font-family: 'Outfit', Helvetica;
  --display-d1-font-size: 96px;
  --display-d1-font-style: normal;
  --display-d1-font-weight: 700;
  --display-d1-letter-spacing: -1.92px;
  --display-d1-line-height: 100%;
  --heading-h1-font-family: 'Outfit', Helvetica;
  --heading-h1-font-size: 32px;
  --heading-h1-font-style: normal;
  --heading-h1-font-weight: 700;
  --heading-h1-letter-spacing: -0.32px;
  --heading-h1-line-height: 139.9999976158142%;
  --heading-h2-font-family: 'Outfit', Helvetica;
  --heading-h2-font-size: 22px;
  --heading-h2-font-style: normal;
  --heading-h2-font-weight: 600;
  --heading-h2-letter-spacing: -0.22px;
  --heading-h2-line-height: 120.00000476837158%;
  --heading-h3-font-family: 'Outfit', Helvetica;
  --heading-h3-font-size: 20px;
  --heading-h3-font-style: normal;
  --heading-h3-font-weight: 400;
  --heading-h3-letter-spacing: -0.2px;
  --heading-h3-line-height: 139.9999976158142%;
  --heading-h4-font-family: 'Outfit', Helvetica;
  --heading-h4-font-size: 18px;
  --heading-h4-font-style: normal;
  --heading-h4-font-weight: 400;
  --heading-h4-letter-spacing: -0.18px;
  --heading-h4-line-height: 139.9999976158142%;
  --neutral-100: rgba(255, 255, 255, 1);
  --neutral-200: rgba(248, 248, 248, 1);
  --neutral-300: rgba(217, 217, 217, 1);
  --neutral-500: rgba(149, 149, 149, 1);
  --neutral-600: rgba(116, 116, 116, 1);
  --neutral-700: rgba(82, 82, 82, 1);
  --neutral-900: rgba(27, 27, 27, 1);
}
