.login-centered {
  background-color: #ffffff;
  display: flex;
  gap: 164px;
  height: 832px;
  width: 1280px;
}

.login-centered .text-wrapper {
  color: #000000;
  font-family: 'Inter', Helvetica;
  font-size: 40px;
  font-weight: 700;
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 69px;
  margin-top: 35px;
  white-space: nowrap;
  width: 118px;
}

.login-centered .frame {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 695px;
  justify-content: center;
  margin-top: 113px;
  padding: 40px 30px;
  position: relative;
  width: 577px;
}

.login-centered .div {
  color: #5d5d5d;
  font-family: 'Inter', Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.login-centered .frame-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.login-centered .text-wrapper-2 {
  color: #000000;
  font-family: 'Inter', Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.login-centered .frame-3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #fafafa;
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  position: relative;
  width: 100%;
}

.login-centered .frame-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.login-centered .frame-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 100%;
}

.login-centered .frame-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14px;
  position: relative;
  width: 100%;
}

.login-centered .text-wrapper-3 {
  align-self: stretch;
  color: #000000;
  font-family: 'Inter', Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.login-centered .div-wrapper {
  align-items: center;
  align-self: stretch;
  border: 1px solid;
  border-color: #000000;
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px;
  position: relative;
  width: 100%;
}

.login-centered .text-wrapper-4 {
  color: #727272;
  font-family: 'Inter', Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.login-centered .frame-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 11px;
  position: relative;
  width: 100%;
}

.login-centered .text-wrapper-5 {
  align-self: stretch;
  color: #000000;
  font-family: 'Inter', Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-decoration: underline;
}

.login-centered .frame-8 {
  align-items: center;
  align-self: stretch;
  background-color: #888888;
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 100%;
}

.login-centered .text-wrapper-6 {
  color: #000000;
  font-family: 'Inter', Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.login-centered .don-t-have-an {
  align-self: stretch;
  color: #000000;
  font-family: 'Inter', Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.login-centered .span {
  color: #000000;
  font-family: 'Inter', Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
}

.login-centered .text-wrapper-7 {
  font-weight: 700;
  text-decoration: underline;
}
