.sign-up {
  align-items: flex-start;
  background-color: var(--neutral-100);
  display: flex;
  flex-direction: column;
  height: 832px;
  padding: 0px 40px;
  position: relative;
}

.sign-up .header {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 20px 0px;
  position: relative;
  width: 100%;
}

.sign-up .div {
  color: var(--neutral-900);
  font-family: 'Inter-Bold', Helvetica;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sign-up .main {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 64px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.sign-up .section-header {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.sign-up .text-wrapper-2 {
  color: var(--neutral-900);
  font-family: var(--heading-h1-font-family);
  font-size: var(--heading-h1-font-size);
  font-style: var(--heading-h1-font-style);
  font-weight: var(--heading-h1-font-weight);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sign-up .p {
  align-self: stretch;
  color: var(--neutral-900);
  font-family: var(--heading-h4-font-family);
  font-size: var(--heading-h4-font-size);
  font-style: var(--heading-h4-font-style);
  font-weight: var(--heading-h4-font-weight);
  letter-spacing: var(--heading-h4-letter-spacing);
  line-height: var(--heading-h4-line-height);
  position: relative;
  text-align: center;
}

.sign-up .form {
  align-items: center;
  background-color: var(--neutral-200);
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  max-width: 640px;
  padding: 24px;
  position: relative;
  width: 100%;
}

.sign-up .form-fields {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.sign-up .form-field-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.sign-up .button-instance {
  align-self: stretch !important;
  display: flex !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.sign-up .log-in-prompt {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  justify-content: center;
  position: relative;
}

.sign-up .text-wrapper-3 {
  color: var(--neutral-900);
  font-family: var(--body-b1-bold-font-family);
  font-size: var(--body-b1-bold-font-size);
  font-style: var(--body-b1-bold-font-style);
  font-weight: var(--body-b1-bold-font-weight);
  letter-spacing: var(--body-b1-bold-letter-spacing);
  line-height: var(--body-b1-bold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sign-up .design-component-instance-node {
  background: none !important;
  border: none !important;
  margin: 0;
  flex: 0 0 auto !important;
  height: 20px !important;
  left: unset !important;
  padding: unset !important;
  top: unset !important;
}
