.pantry-setup-invited {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 832px;
  width: 1280px;
}

.pantry-setup-invited .text-wrapper {
  color: #000000;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 40px;
  font-weight: 700;
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 69px;
  margin-top: 35px;
  white-space: nowrap;
  width: 118px;
}

.pantry-setup-invited .div {
  color: #000000;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 39px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 423px;
  margin-top: 84px;
  text-align: center;
  width: 433px;
}

.pantry-setup-invited .rectangle {
  background-color: #e2e2e2;
  height: 22px;
  margin-left: 288px;
  margin-top: 27px;
  width: 703px;
}

.pantry-setup-invited .frame {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 80px;
  margin-left: 288px;
  margin-top: 27px;
  position: relative;
  width: 703px;
}

.pantry-setup-invited .frame-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 14px;
  position: relative;
}

.pantry-setup-invited .text-wrapper-2 {
  align-self: stretch;
  color: #000000;
  font-family: 'Inter-Regular', Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.pantry-setup-invited .div-wrapper {
  align-items: center;
  align-self: stretch;
  border: 2px solid;
  border-color: #c3c3c3;
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px;
  position: relative;
  width: 100%;
}

.pantry-setup-invited .text-wrapper-3 {
  color: #727272;
  font-family: 'Inter-Regular', Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2px;
  position: relative;
  width: fit-content;
}

.pantry-setup-invited .frame-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
  width: 184px;
}

.pantry-setup-invited .frame-4 {
  align-items: center;
  align-self: stretch;
  border: 2px solid;
  border-color: #c3c3c3;
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  width: 100%;
}

.pantry-setup-invited .text-wrapper-4 {
  color: #000000;
  font-family: 'Inter-Regular', Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.pantry-setup-invited .caret-down {
  aspect-ratio: 1;
  height: 24px;
  position: relative;
  width: 24px;
}

.pantry-setup-invited .vector {
  height: 40.65%;
  left: 14.05%;
  position: absolute;
  top: 32.8%;
  width: 71.9%;
}

.pantry-setup-invited .frame-5 {
  align-items: center;
  background-color: #888888;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 42px;
  justify-content: center;
  margin-left: 288px;
  margin-top: 33px;
  padding: 10px;
  position: relative;
  width: 703px;
}

.pantry-setup-invited .line {
  height: 2px;
  margin-left: 288px;
  margin-top: 27px;
  width: 703px;
}

.pantry-setup-invited .text-wrapper-5 {
  color: #000000;
  font-family: 'Inter-Regular', Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 288px;
  margin-top: 17px;
  white-space: nowrap;
  width: 180px;
}

.pantry-setup-invited .frame-6 {
  align-items: center;
  display: flex;
  height: 41px;
  justify-content: space-between;
  margin-left: 288px;
  margin-top: 12px;
  position: relative;
  width: 703px;
}

.pantry-setup-invited .frame-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 178px;
}

.pantry-setup-invited .rectangle-2 {
  align-self: stretch;
  background-color: #d9d9d9;
  height: 18px;
  position: relative;
  width: 100%;
}

.pantry-setup-invited .rectangle-3 {
  background-color: #d9d9d9;
  height: 18px;
  position: relative;
  width: 120px;
}

.pantry-setup-invited .text-wrapper-6 {
  color: #000000;
  font-family: 'Inter-Regular', Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-decoration: underline;
  width: fit-content;
}

.pantry-setup-invited .img {
  height: 1px;
  margin-left: 288px;
  margin-top: 15px;
  object-fit: cover;
  width: 703px;
}

.pantry-setup-invited .frame-8 {
  align-items: center;
  display: flex;
  height: 41px;
  justify-content: space-between;
  margin-left: 288px;
  margin-top: 17px;
  position: relative;
  width: 703px;
}

.pantry-setup-invited .frame-9 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.pantry-setup-invited .rectangle-4 {
  background-color: #d9d9d9;
  height: 18px;
  position: relative;
  width: 152px;
}

.pantry-setup-invited .frame-10 {
  align-items: center;
  display: flex;
  height: 42px;
  justify-content: space-between;
  margin-left: 288px;
  margin-top: 43px;
  position: relative;
  width: 703px;
}

.pantry-setup-invited .frame-11 {
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 42px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 88px;
}

.pantry-setup-invited .frame-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.pantry-setup-invited .frame-12 {
  align-items: center;
  background-color: #888888;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 42px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 178px;
}

/* Make the username input look like the old placeholder text */
.pantry-setup-invited .username-input {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Remove default button styles but keep your frame-* layout/colors */
.pantry-setup-invited button.frame-5,
.pantry-setup-invited button.frame-11,
.pantry-setup-invited button.frame-12 {
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background: none; /* background-color is handled by .frame-5/11/12 above */
}

.pantry-setup-invited button.frame-5:focus,
.pantry-setup-invited button.frame-11:focus,
.pantry-setup-invited button.frame-12:focus {
  outline: none;
}

/* Make the select blend into the existing frame-4 box */
.pantry-setup-invited .role-select {
  border: none;
  outline: none;
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  margin: 0;
  width: 100%;
  cursor: pointer;
}

/* Ensure button elements keep the frame styling */
.pantry-setup-invited button.frame-11 {
  background-color: #f1f1f1 !important; /* light gray original */
  border-radius: 10px;
}

.pantry-setup-invited button.frame-12 {
  background-color: #888888 !important; /* darker gray original */
  border-radius: 10px;
}

/* Remove browser default button appearance */
.pantry-setup-invited button.frame-11,
.pantry-setup-invited button.frame-12 {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.error {
  color: #ff0000;
  font-family: 'Inter', Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}
