.log-in {
  align-items: flex-start;
  background-color: var(--neutral-100);
  display: flex;
  flex-direction: column;
  height: 832px;
  padding: 0px 40px;
  position: relative;
}

.log-in .header {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 20px 0px;
  position: relative;
  width: 100%;
}

.log-in .div {
  color: var(--neutral-900);
  font-family: 'Inter-Bold', Helvetica;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.log-in .main {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 64px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.log-in .section-header {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.log-in .text-wrapper-2 {
  color: var(--neutral-900);
  font-family: var(--heading-h1-font-family);
  font-size: var(--heading-h1-font-size);
  font-style: var(--heading-h1-font-style);
  font-weight: var(--heading-h1-font-weight);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.log-in .p {
  align-self: stretch;
  color: var(--neutral-900);
  font-family: var(--heading-h4-font-family);
  font-size: var(--heading-h4-font-size);
  font-style: var(--heading-h4-font-style);
  font-weight: var(--heading-h4-font-weight);
  letter-spacing: var(--heading-h4-letter-spacing);
  line-height: var(--heading-h4-line-height);
  position: relative;
  text-align: center;
}

.log-in .form {
  align-items: center;
  background-color: var(--neutral-200);
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  max-width: 640px;
  padding: 24px;
  position: relative;
  width: 100%;
}

.log-in .error-dialog {
  align-items: center;
  align-self: stretch;
  background-color: var(--boiling-200);
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 8px 0px;
  position: relative;
  width: 100%;
}

.log-in .dialog-text {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  color: var(--neutral-900);
  display: -webkit-box;
  flex: 1;
  font-family: var(--body-b1-bold-font-family);
  font-size: var(--body-b1-bold-font-size);
  font-style: var(--body-b1-bold-font-style);
  font-weight: var(--body-b1-bold-font-weight);
  letter-spacing: var(--body-b1-bold-letter-spacing);
  line-height: var(--body-b1-bold-line-height);
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
}

.log-in .form-fields {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.log-in .form-field-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.log-in .button-instance {
  background: none !important;
  border: none !important;
  margin: 0;
  height: 20px !important;
  left: unset !important;
  padding: unset !important;
  top: unset !important;
}

.log-in .design-component-instance-node {
  align-self: stretch !important;
  display: flex !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.log-in .redirect {
  align-items: flex-start;
  display: inline-flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 4px;
  justify-content: center;
  position: relative;
}

.log-in .text-wrapper-3 {
  color: var(--neutral-900);
  font-family: var(--body-b1-bold-font-family);
  font-size: var(--body-b1-bold-font-size);
  font-style: var(--body-b1-bold-font-style);
  font-weight: var(--body-b1-bold-font-weight);
  letter-spacing: var(--body-b1-bold-letter-spacing);
  line-height: var(--body-b1-bold-line-height);
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.log-in .button-2 {
  flex: 0 0 auto !important;
  height: 20px !important;
  left: unset !important;
  padding: unset !important;
  top: unset !important;
}
